.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -70px;
  background-color: #1e1e1e;
}

.auth-box {
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  height: 361px;
  width: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.auth-tabs {
  display: flex;
  justify-content: space-between;
  background: #8b0000;
  width: 100%;
}

.auth-tabs button {
  width: 50%;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 20px;
  text-align: center;
}

.auth-tabs button.active {
  background: #b00020;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.auth-title {
    font-size: 19px;
    padding-top: 20px;
    color: black;
}

.input-label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
  padding-top: 20px;
  gap: 8px;
}

.input-group {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.auth-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #b00020;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: black;
}

.auth-input::placeholder {
  color: gray;
}

.auth-button {
  width: 104px;
  height: 34px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  white-space: nowrap;
  background: #b00020;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
}

.auth-button:hover {
  background: #8b0000;
}
