.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 30px;
}

.movie-card {
  background: #333;
  padding: 15px;
  border-radius: 10px;
  position: relative;
}

.movie-card h3 {
  font-size: 18px;
  margin: 0;
}

.movie-card p {
  font-size: 14px;
  color: #bbb;
}

.movie-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.movie-icons svg {
  cursor: pointer;
  color: white;
}

.movie-icons .active {
  color: red;
}

.genre-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.genre-tags span {
  background: red;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
}
